# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres-db
POSTGRES_DB=test_db
POSTGRES_PORT=5432

# Security
SECRET_KEY=super_secret_key
ORIGINS=["http://localhost:3001","http://127.0.0.1:3001"]

# Kafka
BROKER_HOST=kafka
BROKER_EXTERNAL_PORT=9092
BROKER_INTERNAL_PORT=29092
BROKER_CONTROLLER_PORT=29093
BROKER_UI_PORT=8090